<h1 class="titulo">Aplicación de Calculadora</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <label>Operando A</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="sum1"
        placeholder="Escriba el Primer Numero"
      />
      <label>Operando B</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="sum2"
        placeholder="Escriba el Segundo Numero"
      />
      <button class="btn btn-success" (click)='sumar()' >Sumar</button><br/>
      <span class='mostrar'>El resultado es: <input class='scope' [(ngModel)]='suma'/> </span>
    </div>
  </div>
</div>
